<app-header [activePage]="'pricing'"></app-header>

<app-breadcrumb [items]="[
	['Home', '/'], 
	['Pricing', '/pricing']
]"></app-breadcrumb>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">We plans</h1>
  <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>
</div>

<div class="container">
	<app-plans-list></app-plans-list>
 </div>

<app-footer></app-footer>
