<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 order-md-2">
			<app-map [inputField]="geometry" (outputField)="reciverGeometry($event)"></app-map>
		</div>

		<div class="col-md-6 order-md-1">
			<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">

				<div class="form-group">
					<label for="crop_type">{{ "Crop type" | translate }}:</label>
					<select id="crop_type" formControlName="crop_type" required="true">
						<option value="SOY">{{ "Soy" | translate }}</option>
						<option value="CORN">{{ "Corn" | translate }}</option>
						<option value="COTTON">{{ "Cotton" | translate }}</option>
						<option value="SUGAR_CANE">{{ "Sugar Cane" | translate }}</option>
						<option value="OTHER">{{ "Other" | translate }}</option>
					</select>
				</div>

				<div class="form-group">
					<label for="planting_date">{{ "Planting date" | translate }}:</label>
					<input type="text" class="form-control" id="planting_date" formControlName="planting_date" placeholder="YYYY-MM-DD" >
				</div>

				<div class="form-group">
					<label for="harvest_date">{{ "Harvest date" | translate }}:</label>
					<input type="text" class="form-control" id="harvest_date" formControlName="harvest_date" placeholder="YYYY-MM-DD">
				</div>

				<div class="form-group">
					<label for="geometry">{{ "Geometry" | translate }}:</label>
					<textarea type="text" class="form-control" id="geometry" formControlName="geometry" width="100%" rows=6></textarea>
				</div>
				<div class="text-right">
					<button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit form</button>
				</div>
			</form>
		</div>
	</div>
</div>