<div class="card shadow mb-4">
	<!-- Card Header - Dropdown -->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<h6 class="m-0 font-weight-bold text-primary" [textContent]="'DETAILS' | translate"></h6>
		<div class="float-right btn-options">
			<a class="btn btn-outline-info" [routerLink]="['/regions/edit', id]">
				<i class="fa fa-edit"></i>
			</a>
			<a class="btn btn-outline-danger" (click)="deleteRegion(id)">
				<i class="fa fa-trash"></i>
			</a>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-4">
				<app-map-viewer [id]="region.id" [geometry]="region.geometry" [zoom]="13"></app-map-viewer>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td class="text-primary">
										<i class="fa fa-barcode"></i> {{ "ID:" | translate }}
									</td>
									<td>{{ region?.id }}</td>
								</tr>
								<tr>
									<td class="text-primary">
										<i class="fa fa-leaf"></i> {{ "Crop type:" | translate }}
									</td>
									<td>{{ region?.properties.crop_type }}</td>
								</tr>
								<tr>
									<td class="text-primary">
										<i class="fa fa-seedling"></i> {{ "Planting date:" | translate }}
									</td>
									<td>{{ region?.properties.planting_date }}</td>
								</tr>
								<tr>
									<td class="text-primary">
										<i class="fa fa-tractor"></i> {{ "Haverest date:" | translate }}
									</td>
									<td>{{ region?.properties.harvest_date }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>