<div class="row">
	<nav class="bg-light sidebar w-100">
		<div class="sidebar-sticky">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link" 
						[class.active]="activePage === 'dashboard' "
						[routerLink]="'/dashboard'">
						<span data-feather="home"></span>
						Dashboard <span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" 
						[class.active]="activePage === 'regions' " 
						[routerLink]="'/dashboard/regions'">
						<span data-feather="file"></span>
						Áreas Monitoradas
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" 
						[class.active]="activePage === 'payments' "
						[routerLink]="'/dashboard/payments'">
						<span data-feather="shopping-cart"></span>
						Pagamentos
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>