<app-breadcrumb [items]="[
	['Home', '/'],
	['Fields', '/fields'],
	['#' + id, '/fields/view/'+id]
]"></app-breadcrumb>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-field-details [id]="id"></app-field-details>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-7">
            <app-field-timeseries [id]="id"
                                  class="w-100"
                                  style="height: 200px; max-height: 200px !important;"></app-field-timeseries>
        </div>
        <div class="col-md-5">
            <app-field-weath-forecast [lat]="centroid[1]"
                                      [lon]="centroid[0]"
                                      class="w-100"
                                      style="height: 300px;"></app-field-weath-forecast>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-products-list [id]="id"></app-products-list>
        </div>
    </div>
</div>