<div class="container-fluid">
	<div class="row">
		<div class="custom-control custom-switch custom-control-inline" *ngFor="let tag of tags">
			<input type="checkbox" class="custom-control-input"  
				id="{{ tag.value }}"
				name="{{ tag.value }}" 
				[checked]="tag.checked"
				(change)="updateTags($event)">
			<label class="custom-control-label" for="{{ tag.value }}">
				{{ tag.label }}
			</label>
		</div>
	</div>
</div>

<br>

<div class="accordion" id="accordionExample">
	<h1 *ngIf="loading">Loading...</h1>
	<div class="card" *ngFor="let recipient of products | keyvalue">
		<div class="card-header" id="headingOne">
		  <h6 class="mb-0">
		  	<span class="font-weight-bold">PRODUCT:</span> {{ recipient.key }}
		  	<span class="font-weight-bold">DATE ACQUIRED:</span> {{ recipient.value[0].image.date_acquired }}
		  	<span class="font-weight-bold">CLOUD COVER:</span> {{ recipient.value[0].image.cloud_cover }}%
		  </h6>
		</div>

		<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
		  <div class="card-body">
		  	<div class="row">
		  		<app-products-item class="m-0 p-0" 
		  		[ngClass]="'col-md-' + (12 / getSelectedTags().length)" 
		  		*ngFor="let product of recipient.value" 
		  		[product]="product"></app-products-item>
		  	</div>
		  </div>
		</div>
	</div>
</div>