<div class="card mb-3 w-100">
	<div class="row no-gutters">
		<div class="col-md-4">
			<div id="map" class="map card-img" style="width: 100%; height: 300px;"></div>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td class="text-primary">
									<i class="fa fa-barcode"></i> {{ "ID:" | translate }}
								</td>
								<td>{{ region.id }}</td>
							</tr>
							<tr>
								<td class="text-primary">
									<i class="fa fa-leaf"></i> {{ "Type of culture:" | translate }}
								</td>
								<td>{{ region.properties.crop_type }}</td>
							</tr>
							<tr>
								<td class="text-primary">
									<i class="fa fa-seedling"></i> {{ "Planting date:" | translate }}
								</td>
								<td>{{ region.properties.planting_date }}</td>
							</tr>
							<tr>
								<td class="text-primary">
									<i class="fa fa-tractor"></i> {{ "Haverest date:" | translate }}
								</td>
								<td>{{ region.properties.harvest_date }}</td>
							</tr>
							<tr>
								<td class="text-primary">
									<i class="fa fa-calendar"></i> {{ "Creation date:" | translate }}
								</td>
								<td>{{ region.properties.created }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>