<app-header [activePage]="'dashboard'"></app-header>

<app-breadcrumb [items]="[
	['Home', '/'], 
	['Dashboard', '/dashboard'], 
	['Regions', '/dashboard/regions']
]"></app-breadcrumb>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<app-dashboard-sidebar [activePage]="'regions'"></app-dashboard-sidebar>
		</div>

		<div class="col-md-10">
			<div class="row">
				<div class="container-fluid">
					<a href="/dashboard/add-region" class="btn btn-primary">
						<i class="fa fa-plus"></i>
						New Region
					</a>
				</div>
			</div>
			<div class="row">
				<app-region-list class="w-100"></app-region-list>
			</div>
		</div>
	</div>
</div>

<app-footer></app-footer>