*{
	font-family: "Lato", sans-serif;
}

/* You can add global styles to this file, and also import other style files */
.text-primary{
	color: #0b8000 !important;
}

.bg-primary{
	background-color: #0b8000 !important;
}

.btn-outline-primary{
	border-color: #0b8000;
	color: #0b8000;
}

.btn-outline-primary:hover{
	background-color: #0b8000;
}

a{
    color: #0b8000;
}
