@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ol/ol.css';

/* You can add global styles to this file, and also import other style files */
.text-primary{
	color: #4c2a80 !important;
}

.bg-primary{
	background-color: #4c2a80 !important;
}

.btn-outline-primary{
	border-color: #4c2a80;
	color: #4c2a80;
}

.btn-outline-primary:hover{
	background-color: #4c2a80;
}

a{
    color: #4c2a80;
}