<div class="container-fluid marketing p-3">

<!-- Three columns of text below the carousel -->
<div class="row">
	<app-marketing-card class="col-lg-4"
		[image]="'/assets/images/monitoring_areas.png'"
		[title]="'Áreas Monitoradas'" 
		[description]="'Começe agora a monitorar sua fazenda. Cadastre as geometrias de suas glebas e acompanhe, atravez de imagens de satélite, como anda sua cultura.'"
		[link]="'/dashboard/regions'"></app-marketing-card>

	<app-marketing-card class="col-lg-4"
		[image]="'data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='"
		[title]="'Mapas de Uso e Cobertura da Terra'" 
		[description]="'Começe agora a monitorar sua fazenda. Cadastre as geometrias de suas glebas e acompanhe, atravez de imagens de satélite, como anda sua cultura.'"
		[link]="'/regions'"></app-marketing-card>

	<app-marketing-card class="col-lg-4"
		[image]="'/assets/images/monitoring_areas.png'"
		[title]="'Experimente nosso plano gratuíto'" 
		[description]="'Experimente nossos serviços gratuitamente por 7 dias e nos diga se você realmente gostou de ter informações de satélite sobre sua fazenda de forma simples e rápida.'"
		[link]="'/pricing'"></app-marketing-card>

</div><!-- /.row -->


<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-5 order-md-2">
		<img class="featurette-image img-fluid mx-auto" src="/assets/images/marketing/feature1.jpeg" alt="Generic placeholder image">
	</div>
	<div class="col-md-7 order-md-1">
		<h3 class="featurette-heading">Monitore com precisão sua cultura agrícola</h3>
		<p class="lead">
			Monitorar e entender a evolução da vegetação cultivada a nível intra-talhão é essencial para os empreendedores no ramo da agricultura. Graças a uma sequência de processamentos sem iguais (Overland), a Airbus fornece mapas de caracterização da vegetação agrícola que são o que há de mais elaborado no ramo, usando uma ampla variedade de de imagens de satélites e dados de drones. 
		</p>
	</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-5 order-md-1">
		<img class="featurette-image img-fluid mx-auto" src="/assets/images/marketing/feature1.png" alt="Generic placeholder image">
	</div>
	<div class="col-md-7 order-md-2">
		<h3 class="featurette-heading">
			Obtenha fácilmente images de satélite dos seus talhões agrícolas.
		</h3>
		<p class="lead">
		</p>
	</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-5 order-md-2">
		<img class="featurette-image img-fluid mx-auto" src="/assets/images/marketing/feature2.png" alt="Generic placeholder image">
	</div>
	<div class="col-md-7 order-md-1">
		<h3 class="featurette-heading">
		Índice da Diferença Normalizada da Vegetação (NDVI)
		</h3>
		<p class="lead">
		Num mundo onde a população está crescendo em ritmo acelerado, enquanto a extensão de terras agrícolas e os recursos estão limitados,muitas práticas agrícolas procurar associar a produtividade com o mínimo de impacto ambiental.  
		Com este objetivo, é uma prática usual recorrer a imagens de satélites, fotos aéreas ou imagens de drones para obter uma visão do recobrimento dos talhões de interesse e extrair a partir destes dados, informações para orientar os agricultores na aplicação do nível adequado de fertilizantes, defensivos agrícolas e água,  no local correto e no período relevante.
		</p>
	</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-5 order-md-1">
		<img class="featurette-image img-fluid mx-auto" src="/assets/images/marketing/feature3.png" alt="Generic placeholder image">
	</div>
	<div class="col-md-7 order-md-2">
		<h3 class="featurette-heading">
		Índice da Diferença Normalizada da Água (NDWI)
		</h3>
		<p class="lead">
		Nesta imagem ao lado, é possível observar anéis de coloração amarelada próximos à torre central do pivô que está mais ao centro da imagem. Isto pode significar problemas nos bicos aspersores do pivô central. Esta falha, acaba comprometendo o rendimento da lavoura em determinadas regiões. A identificação de problemas como neste caso permite tomar as devidas atitudes de correção, evitando perdas na produtividade da safra.

		Usuários que já utilizam esta tenologia, tem acesso a um acervo com as diversas imagens obtidas durante o ciclo, podendo analisar, com uma visão diferenciada e ampliada, todas as mudanças na lavoura desde o plantio até a colheita. Todos os registros são armazenados e podem ser acessadas e analisadas sempre que o produtor desejar.
		</p>
	</div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->

</div><!-- /.container -->